li {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	color: black;
	text-decoration: none;}

/* hooray for google!*/
body { 
  background: url(images/trees.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}

h1 {
	color: black;
	text-transform: uppercase;
	font-family: Arial;
	font-kerning: 5px;
	
}
#transparent {
	box-sizing: border-box;
	width: 700px;
	height: 200px;
  	top: 50%;
  	left: 50%;
	background-color: white;
	border: 1px solid black;
	padding: 20px;
	opacity: 0.6;
	filter: alpha(opacity=60);
	margin: auto;
	text-align: center;
}