
a {
	color: white;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;}

/* hooray for google!*/
body { 
  background: url(images/trees.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}

h1 {
	color: white;
	text-transform: uppercase;
	font-family: Arial;
	font-kerning: 6px;
	padding:2px;
}
#transparent {
	position: fixed;
	position: absolute;
	right:10px;
	top: 10px;
	font-family: Verdana;
	font-kerning: 3px;
	text-transform: uppercase;
	box-sizing: border-box;
	width: 600px;
	background-color: black;
	border: 2px solid white;
	padding: 10px;
	padding-bottom: 20px;
	opacity: 0.6;
	filter: alpha(opacity=60);
	text-align: center;
}