body {
	text-align: justify;
	font-family: Verdana;
	width: 750px;
	margin: 0 auto;
}
.social {
	display: inline;
	align: center;
	margin: 0 auto;
	width:500px;
}
h1 {
	font-family: Verdana;
}
#interest {
	float: left;
    width: 200px;
    margin: 0 0 15px 20px;
    padding-left: 15px;
    text-align: center;
}
.puppy {
	clear: right;
	}

#otherinterest {
	float: right;
    width: 200px;
    margin: 0 0 15px 20px;
    padding-left: 15px;
    text-align: center;
}
.otherpuppy {clear: left;}


#navbar{
	position: fixed;
	position: absolute;
	right:10px;
	top: 10px;
	background-color: #808080;
	color: white;
	padding-left: 10px;
	padding-right: 10px;
	padding-left: 10px;}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {color: white;
	text-decoration: none;
	padding-right: 6px;
}

li {background-color: #808080;
	display: inline-block;
}

a:hover {color: aqua;}
